body {
    background-color: gainsboro
}
nav {
    font-family: 'Montserrat', sans-serif
}
}
h1 {
    font-family: 'Permanent Marker', cursive;
    color: black
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: black
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: black
}
.responsive {
    width: 100%;
    height: auto
}
p {
    font-family: 'Roboto', sans-serif;
    color: black
}
li  {
    font-family: 'Montserrat', sans-serif;
    display: inline
}