body {
    background-color: #676767
}
nav {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center
}
h1 {
    font-family: 'Monoton', cursive;
    color: #f6fd3e;
    text-align: center
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: white
}
h3 {
    font-family: 'Roboto', sans-serif;
    color: white
}
.responsive {
    width: 100%;
    height: auto;
}
p {
    font-family: 'Roboto', sans-serif;
    color: white
}
li  {
    font-family: 'Josefin Sans', sans-serif;
    display: inline
}